{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}
        {{ form.title }}
    </div>
    <div>
        {{ form.body.label }}
        {{ form.body }}
    </div>
      <div>
        {{ form.image.label }}
        {{ form.image }}
      </div>
    <div>
        <input type="submit" value="Save">
    </div>
      {% if form.image.errors %}
        <div>
            {{ form.image.errors[0] }}
        </div>
      {% endif %}
  </form>
{% endblock %}